notes/**/*.aux
notes/**/*.dvi
notes/**/*.fdb_latexmk
notes/**/*.fls
notes/**/*.log
notes/**/*.out
notes/**/*.synctex.gz
notes/**/*.toc
scripts/slurm
scripts/task
*.txt
logs
data
data.old
old_data
tasks
!/logs/README.md
coverage
/test/logs
Manifest.toml